Debug/
Documentation/
Release/
Profile/
Profile32/
Profile64/
Release32/
Release64/
dist/
Resources/*.png
qrenderdoc/Makefile
*.exe
*.aps
*.ilk
*.manifest
*.user
bin/
obj/
.obj/
*.opensdf
*.pdb
*.sln.ide/
*.so
*.a
*.exp
*.lib
*.sdf
*.suo
*.dll
symsrv.yes
ipch/
*.shfbproj_*
