Debug/
Documentation/
Release/
QTDebug/
Development/
Development32/
Development64/
Release32/
Release64/
build/
build-*/
/dist/
/package/
util/buildscripts/support
Resources/*.png
qrenderdoc/Makefile*
*.exe
*.aps
*.ilk
*.manifest
*.user
bin
obj/
.obj/
*.opensdf
*.VC.*db
.vs/
*.pdb
*.sln.ide/
*.so
*.a
*.exp
*.lib
*.sdf
*.suo
*.dll
*.swp
*.orig
symsrv.yes
ipch/
renderdoc/driver/vulkan/renderdoc_capture.json
renderdocui/3rdparty/ironpython/pythonlibs.zip
qrenderdoc/generated/
qrenderdoc/3rdparty/pyside
.DS_Store
plugins-*/
__pycache__
