Demos/
Debug/
Documentation/
Release/
Profile/
Profile32/
Profile64/
Release32/
Release64/
dist/
Resources/*.png
*.exe
*.aps
*.ilk
*.manifest
*.user
bin/
obj/
.obj/
*.opensdf
*.pdb
*.so
*.a
*.exp
*.lib
*.sdf
*.suo
*.PixRun
*.dll
symsrv.yes
capture.log*
capture.d3dbgr*
Direct3DLog.txt
ipch/
*.nvuser
*.shfbproj_*
