[Desktop Entry]
Version=1.0
Name=RenderDoc
Comment=A stand-alone graphics API debugger
GenericName=Graphics Debugger
Exec=qrenderdoc %f
Icon=application-x-renderdoc-capture
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Development;
StartupNotify=true
MimeType=application/x-renderdoc-capture;
