<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='RenderDoc' Id='*' UpgradeCode='D320753C-4B18-4905-A752-E68959943E7D'
    Language='1033' Codepage='1252' Version='$(env.RENDERDOC_VERSION)' Manufacturer='Baldur Karlsson'>

    <Package Id='*' Keywords='Installer' Description="Installer for RenderDoc"
      Comments='RenderDoc Homepage is http://renderdoc.org/' Platform="x64" Manufacturer='Baldur Karlsson'
      InstallerVersion='301' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>

    <Upgrade Id="D320753C-4B18-4905-A752-E68959943E7D">
      <UpgradeVersion Minimum="0.18.0"
                      IncludeMinimum="yes"
                      IncludeMaximum="yes"
                      Maximum="$(env.RENDERDOC_VERSION)"
                      Property="OLDERVERSIONBEINGUPGRADED" />
      <UpgradeVersion OnlyDetect="yes" Property="NEWERVERSIONDETECTED" Minimum="$(env.RENDERDOC_VERSION)" IncludeMinimum="no" />
    </Upgrade>

    <Condition Message="A later version of [ProductName] is already installed"> 
      NOT NEWERVERSIONDETECTED
    </Condition> 

    <Media Id='1' Cabinet='renderdoc.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="RenderDoc Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='RenderDoc'>

          <Component Id='RenderDocUI' Win64="yes" Guid='44398F0D-3FE3-470A-A137-BDFDFE82353D'>
            <File Id='renderdocuiEXE' Name='renderdocui.exe' DiskId='1' Source='dist/Release64/renderdocui.exe' KeyPath='yes'>
              <Shortcut Id="startmenuRenderDoc" Directory="ProgramMenuDir" Name="RenderDoc" WorkingDirectory='INSTALLDIR' Icon="icon.ico" IconIndex="0" Advertise="yes" />
            </File>
						<File Id='renderdocuiPDB' Name='renderdocui.pdb' DiskId='1' Source='dist/Release64/renderdocui.pdb' />
						<File Id='renderdocuiCFG' Name='renderdocui.exe.config' DiskId='1' Source='dist/Release64/renderdocui.exe.config' />

						<RegistryValue Root="HKLM" Id="VerbRDC" Action="write" 
							Key="Software\Classes\RenderDoc.RDCCapture.1\shell\open\command" 
							Value='"[#renderdocuiEXE]" "%1"' 
							Type="expandable" />
						<RegistryValue Root="HKLM" Id="VerbDescRDC" Action="write" 
							Key="Software\Classes\RenderDoc.RDCCapture.1" 
							Value='RenderDoc Capture Log (.rdc)' 
							Type="expandable" />
						<RegistryValue Root="HKLM" Id="VerbIconRDC" Action="write" 
							Key="Software\Classes\RenderDoc.RDCCapture.1\DefaultIcon" 
							Value='[#renderdocuiEXE]' 
							Type="expandable" />
						<RegistryValue Root="HKLM" Id="RDCProgIDCLSID" Action="write" 
							Key="Software\Classes\RenderDoc.RDCCapture.1\CLSID" 
							Value='{5D6BF029-A6BA-417A-8523-120492B1DCE3}' 
							Type="expandable" />

						<RegistryValue Root="HKLM" Id="VerbCAP" Action="write" 
							Key="Software\Classes\RenderDoc.RDCSettings.1\shell\open\command" 
							Value='"[#renderdocuiEXE]" "%1"' 
							Type="expandable" />
						<RegistryValue Root="HKLM" Id="VerbDescCAP" Action="write" 
							Key="Software\Classes\RenderDoc.RDCSettings.1" 
							Value='RenderDoc Capture Settings (.cap)' 
							Type="expandable" />
						<RegistryValue Root="HKLM" Id="VerbIconCAP" Action="write" 
							Key="Software\Classes\RenderDoc.RDCSettings.1\DefaultIcon" 
							Value='[#renderdocuiEXE]' 
							Type="expandable" />
						
					</Component>

					<Component Id='RenderDocCPP' Win64="yes" Guid='9D5949F9-0447-47B6-829D-77465E1FDAD9'>
						<File Id='RenderDocCPP' Name='renderdoc.dll' DiskId='1' Source='dist/Release64/renderdoc.dll' KeyPath='yes' />
						<File Id='RenderDocJSON' Name='renderdoc.json' DiskId='1' Source='dist/Release64/renderdoc.json' />
						<File Id='D3DCompiler47DLL64' Name='d3dcompiler_47.dll' DiskId='1' Source='dist/Release64/d3dcompiler_47.dll' />
						<File Id='RenderDocSHIM' Name='renderdocshim64.dll' DiskId='1' Source='dist/Release64/renderdocshim64.dll' />
						<File Id='dbghelpDLL' Name='dbghelp.dll' DiskId='1' Source='dist/Release64/dbghelp.dll' />
						<File Id='symsrvDLL' Name='symsrv.dll' DiskId='1' Source='dist/Release64/symsrv.dll' />
						<File Id='symsrvYES' Name='symsrv.yes' DiskId='1' Source='dist/Release64/symsrv.yes' />
						
						<File Id='RenderDocAPIheader' Name='renderdoc_app.h' DiskId='1' Source='dist/Release32/renderdoc_app.h' />
            
						<RegistryValue Root="HKLM" Id="RDCCLSID" Action="write" 
							Key="Software\Classes\CLSID\{5D6BF029-A6BA-417A-8523-120492B1DCE3}" 
							Value='RenderDoc Thumbnail Handler' 
							Type="expandable" />
						<RegistryValue Root="HKLM" Id="RDCCLSIDServer" Action="write" 
							Key="Software\Classes\CLSID\{5D6BF029-A6BA-417A-8523-120492B1DCE3}\InprocServer32" 
							Value='[#RenderDocCPP]' 
							Type="expandable" />

						<RegistryValue Root="HKLM" Id="RDCVulkanImplicitLayer" Action="write"
							Key="Software\Khronos\Vulkan\ImplicitLayers" 
							Name='[#RenderDocJSON]'
							Value='0'
							Type="integer" />
					</Component>

					<Component Id='LICENSE' Win64="yes" Guid='71534ACB-DF6B-4956-A14C-566925D77AB0'>
						<File Id='LICENSE' Name='LICENSE.rtf' DiskId='1' Source='scripts/installer/LICENSE.rtf' KeyPath='yes' />
					</Component>

					<Component Id='RenderDocCMD' Win64="yes" Guid='3443061F-2B11-4661-8535-4319D97B375C'>
						<File Id='RenderDocCMD' Name='renderdoccmd.exe' DiskId='1' Source='dist/Release64/renderdoccmd.exe' KeyPath='yes' />
					</Component>

					<Component Id='Scintilla' Win64="yes" Guid='E1BC516F-F611-4C7B-8F3E-A459F026FC4E'>
						<File Id='ScintillaNET' Name='ScintillaNET.dll' DiskId='1' Source='dist/Release64/ScintillaNET.dll' KeyPath='yes' />
						<File Id='SciLexer' Name='SciLexer.dll' DiskId='1' Source='dist/Release64/SciLexer.dll' />
						<File Id='SciLexer64' Name='SciLexer64.dll' DiskId='1' Source='dist/Release64/SciLexer64.dll' />
					</Component>

					<Component Id='DockingUI' Win64="yes" Guid='420997F0-93DA-4ACF-AA5D-9EDBE8D96A09'>
						<File Id='WinFormsUIDLL' Name='WeifenLuo.WinFormsUI.Docking.dll' DiskId='1' Source='dist/Release64/WeifenLuo.WinFormsUI.Docking.dll' KeyPath='yes' />
					</Component>

					<Component Id='IronPython' Win64="yes" Guid='CE2C9D5B-9040-47C7-8E42-B79B52AE93EB'>
						<File Id='IronPythonDLL' Name='IronPython.dll' DiskId='1' Source='dist/Release64/IronPython.dll' KeyPath='yes' />
						<File Id='IronPythonModulesDLL' Name='IronPython.Modules.dll' DiskId='1' Source='dist/Release64/IronPython.Modules.dll' />
						<File Id='MicrosoftScriptingDLL' Name='Microsoft.Scripting.dll' DiskId='1' Source='dist/Release64/Microsoft.Scripting.dll' />
						<File Id='MicrosoftDynamicDLL' Name='Microsoft.Dynamic.dll' DiskId='1' Source='dist/Release32/Microsoft.Dynamic.dll' />
						<File Id='PythonLibsZIP' Name='pythonlibs.zip' DiskId='1' Source='dist/Release64/pythonlibs.zip' />
					</Component>

					<Component Id='Documentation' Win64="yes" Guid='C49ABF1D-1D73-469B-A44A-DD9470E85F19'>
						<File Id='Documentation' Name='renderdoc.chm' DiskId='1' Source='dist/Release64/renderdoc.chm' KeyPath='yes'>
							<Shortcut Id="startmenuDocs" Directory="ProgramMenuDir" Name="RenderDoc Documentation" Icon='chm.ico' Advertise="yes" />
						</File>
					</Component>

					<Directory Id='plugins' Name='plugins'>
						<Directory Id='plugins_amd' Name='amd'>
							<Directory Id='plugins_amd_isa' Name='isa'>
								<Component Id='gcn_plugin' Win64="yes" Guid='02B13D5B-DA43-4AFF-B35B-CF4A241C2CEE'>
									<File Id='amdspvEXE' Name='amdspv.exe' DiskId='1' Source='dist/Release64/plugins/amd/isa/amdspv.exe' KeyPath='yes' />
									<File Id='spvgenDLL' Name='spvgen.dll' DiskId='1' Source='dist/Release64/plugins/amd/isa/spvgen.dll' />
									<File Id='virtualcontextEXE' Name='VirtualContext.exe' DiskId='1' Source='dist/Release64/plugins/amd/isa/VirtualContext.exe' />
								</Component>
							</Directory>
						</Directory>
					</Directory>

					<Directory Id='renderdocX86' Name='x86'>
						<Component Id='renderdocX86Bins' Win64="yes" Guid='EB58A048-899A-4239-B229-DA9781C431F8'>
							<File Id='renderdocX86DLL' Name='renderdoc.dll' DiskId='1' Source='dist/Release64/x86/renderdoc.dll' KeyPath='yes' />
							<File Id='renderdocX86JSON' Name='renderdoc.json' DiskId='1' Source='dist/Release64/x86/renderdoc.json' />
							<File Id='renderdocshimX86DLL' Name='renderdocshim32.dll' DiskId='1' Source='dist/Release64/x86/renderdocshim32.dll' />
							<File Id='renderdocX86CMD' Name='renderdoccmd.exe' DiskId='1' Source='dist/Release64/x86/renderdoccmd.exe' />
							<File Id='dbghelp32DLL' Name='dbghelp.dll' DiskId='1' Source='dist/Release64/x86/dbghelp.dll' />
							<File Id='symsrv32DLL' Name='symsrv.dll' DiskId='1' Source='dist/Release64/x86/symsrv.dll' />
							<File Id='symsrv32YES' Name='symsrv.yes' DiskId='1' Source='dist/Release64/x86/symsrv.yes' />

							<File Id='D3DCompiler47DLL32' Name='d3dcompiler_47.dll' DiskId='1' Source='dist/Release64/x86/d3dcompiler_47.dll' />
								
							<RegistryValue Root="HKLM" Id="RDCCLSID32" Action="write" 
								Key="Software\Wow6432Node\Classes\CLSID\{5D6BF029-A6BA-417A-8523-120492B1DCE3}" 
								Value='RenderDoc Thumbnail Handler' 
								Type="expandable" />
							<RegistryValue Root="HKLM" Id="RDCCLSIDServer32" Action="write" 
								Key="Software\Wow6432Node\Classes\CLSID\{5D6BF029-A6BA-417A-8523-120492B1DCE3}\InprocServer32" 
								Value='[#renderdocX86DLL]' 
								Type="expandable" />

							<RegistryValue Root="HKLM" Id="RDCVulkanImplicitLayer32" Action="write"
								Key="Software\Wow6432Node\Khronos\Vulkan\ImplicitLayers" 
								Name='[#renderdocX86JSON]'
								Value='0'
								Type="integer" />

						</Component>

          </Directory>

        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="RenderDoc">
          <Component Id="ProgramMenuDir" Guid="D0755B01-F8D5-4DFE-8D21-DA4ED84B555D">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Component Id="ImageOpenWith" Guid="BD518767-45FB-412F-86E8-E741AAA48906">
        <RegistryValue Root="HKLM" Id="RDCOpenWithCommand" Action="write" KeyPath='yes'
          Key="Software\Classes\Applications\renderdocui.exe\shell\open\command" 
          Value='"[#renderdocuiEXE]" "%1"'
          Type="string" />

        <RegistryValue Root="HKLM" Id="RDCOpenWithDDS" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.dds'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithHDR" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.hdr'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithJPG" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.jpg'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithJPEG" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.jpeg'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithPNG" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.png'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithEXR" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.exr'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithTGA" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.tga'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithBMP" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.bmp'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithGIF" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.gif'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithPSD" Action="write"
          Key="Software\Classes\Applications\renderdocui.exe\SupportedTypes" 
          Name='.psd'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidDDS" Action="write"
          Key="Software\Classes\.dds\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidHDR" Action="write"
          Key="Software\Classes\.hdr\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidJPG" Action="write"
          Key="Software\Classes\.jpg\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidJPEG" Action="write"
          Key="Software\Classes\.jpeg\OpenWithProgids" Name='RenderDoc.RDCCapture.1' Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidPNG" Action="write"
          Key="Software\Classes\.png\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidEXR" Action="write"
          Key="Software\Classes\.exr\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidTGA" Action="write"
          Key="Software\Classes\.tga\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidBMP" Action="write"
          Key="Software\Classes\.bmp\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidGIF" Action="write"
          Key="Software\Classes\.gif\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
        <RegistryValue Root="HKLM" Id="RDCOpenWithProgidPSD" Action="write"
          Key="Software\Classes\.psd\OpenWithProgids" Name='RenderDoc.RDCCapture.1'  Value='' Type="string" />
      </Component>
      <Component Id="ImageThumbnailProvider" Guid="E79B67C0-1128-4471-80C5-6233EF37414C">
        <RegistryValue Root="HKLM" Id="RDCProvider" Action="write" KeyPath='yes'
          Key="Software\Classes\RenderDoc.RDCCapture.1\ShellEx\{e357fccd-a995-4576-b01f-234630154e96}" 
          Value='{5D6BF029-A6BA-417A-8523-120492B1DCE3}' 
          Type="expandable" />
      </Component>
      
      <Component Id="FileExtensionRDC" Guid="65374649-9C72-40A1-97EC-F92BAE7C80F4">
        <ProgId Id='RenderDoc.RDCCapture.1' Description='RenderDoc Capture Log (.rdc)'>
          <Extension Id='rdc' />
        </ProgId>
      </Component>

      <Component Id="FileExtensionCAP"  Guid="1029AAEF-2700-428B-9FCA-67CC1F6BDE85">
        <ProgId Id='RenderDoc.RDCSettings.1' Description='RenderDoc Capture Settings (.cap)'>
          <Extension Id='cap' />
        </ProgId>
      </Component>

    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist32" DiskId="1" Language="0" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x64.msm"/>
      <Merge Id="VCRedist64" DiskId="1" Language="0" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x86.msm"/>
    </DirectoryRef>

    <Feature Id='Complete' Title='RenderDoc' Description='Everything included.' AllowAdvertise='no' Absent='disallow' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable with everything needed to capture and replay.' AllowAdvertise='no' Absent='disallow' Level='1'>
        <ComponentRef Id='RenderDocUI' />
        <ComponentRef Id='RenderDocCPP' />
        <ComponentRef Id='RenderDocCMD' />

        <ComponentRef Id='IronPython' />

        <ComponentRef Id='LICENSE' />

        <ComponentRef Id='gcn_plugin' />

        <ComponentRef Id='renderdocX86Bins' />

        <ComponentRef Id='Scintilla' />
        <ComponentRef Id='DockingUI' />

        <ComponentRef Id='ProgramMenuDir' />

        <ComponentRef Id='ImageOpenWith' />

      </Feature>

      <Feature Id="VCRedist32" Title="Visual C++ 2010 Runtime SP1 (x86)" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist32"/>
      </Feature>

      <Feature Id="VCRedist64" Title="Visual C++ 2010 Runtime SP1 (x64)" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist64"/>
      </Feature>

      <Feature Id='Docs' Title='Documentation' Description='CHM file with local help.' Level='1'>
        <ComponentRef Id='Documentation' />
      </Feature>

      <Feature Id='FileExts' Title='File Associations' Description='Associate .rdc (Capture logs) and .cap (Capture settings) files with RenderDoc.' Level='1'>
        <ComponentRef Id='ImageThumbnailProvider' />
        <ComponentRef Id='FileExtensionRDC' />
        <ComponentRef Id='FileExtensionCAP' />
      </Feature>

    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="scripts/installer/LICENSE.rtf" />

    <WixVariable Id="WixUIBannerBmp" Value="scripts/installer/bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="scripts/installer/dlgbmp.bmp" />

    <Icon Id="chm.ico"  SourceFile="scripts/installer/chm.ico" />
    <Icon Id="icon.ico" SourceFile="renderdocui/Resources/icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="http://renderdoc.org/" />

  </Product>
</Wix>
