<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="IronPython"
					publicKeyToken="7f709c5b713576e1"
					culture="neutral" />
				<publisherPolicy apply="no" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IronPython.Modules"
					publicKeyToken="7f709c5b713576e1"
					culture="neutral" />
				<publisherPolicy apply="no" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
